.editor {admin
    form {
        width: 100%;

        input, textarea {
            font-weight: normal;
        }

        textarea {
            min-height: 20rem;
            resize: vertical;
        }
    }
}

#article-editor {
    form {
        width: 100%;

        input, textarea {
            font-weight: normal;
        }

        textarea {
            min-height: 20rem;
            resize: vertical;
        }
    }
}


#user-editor {
    label {
        display: block !important;

        margin-bottom: -1rem;

        font-weight: bold;
        font-size: 1.2rem;
    }
}

.editor-image-container {
    display: flex;

    gap: 16px;
    padding: 1rem;

    border-radius: 1rem;

    overflow: auto;

    outline: black 1px solid;

    button {
        background-color: var(--danger);

        &:hover {
            background-color: var(--danger-hover);
        }
    }

    p {
        display: none;
    }
}

@media (min-width: 50rem) {
    .editor {
        width: 50vw;
    }
}