header {
    padding: 1rem 0;

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;

        img {
            font-size: 1.7rem;
        }

        ul {
            display: flex;
            gap: 1rem;

            list-style: none;

            li a {
                color: var(--text);
            }
        }

        a {
            color: var(--link);
        }
    }
}



/* Media Queries */
@media (min-width: 50rem) {
    header nav {
        max-width: 60vw;
        margin: 0 auto;
        padding: 0 1rem;

        flex-direction: row;
        justify-content: space-between;

        font-size: 25px;

        nav {
            img {
                font-size: 27px;
            }

            ul {
                flex-direction: row;
                gap: 2rem;
            }
        }
    }
}