/* News */
article.article-news {
    min-width: 50rem;

    padding: 1rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    overflow: clip;
    text-overflow: ellipsis;

    .news-article-text {
        padding-right: 1rem;

        h1 {
            text-align: center;

            font-size: 1.5rem;
            margin-bottom: 0.5rem;
        }

        h2 {
            display: none;

            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 1.5;
            font-size: 1rem;
            font-weight: normal;
        }
    }

    .news-article-image {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 1rem;
    }

    img {
        max-width: 100%;
        max-height: 100%;

        aspect-ratio: 16/9;

        object-fit: contain;
        border-radius: 1rem;
    }
}

.news-footer {
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & > * {
        margin: 0 0.5rem;
    }
}

/* Article page */
article.article-page {
    min-width: 50vw;
    padding: 1rem;
    margin: 2rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    overflow: clip;
    text-overflow: ellipsis;

    gap: 2rem;

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .article-data {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    .slideshow-container {
        position: relative;
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
    }

    /* Slides */
    .slide {
        display: none;

        img {
            border-radius: 1rem;
        }
    }

    /* Show the active slide */
    .slide.active {
        display: flex;
        justify-content: center;
    }

    /* Navigation buttons */
    .prev-button, .next-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        z-index: 10;
    }

    .prev-button {
        left: 10px;
    }

    .next-button {
        right: 10px;
    }
}

@media (min-width: 50rem) {
    article.article-news {
        flex-direction: row;

        .news-article-text {
            width: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .news-article-image {
            width: 50%;
        }
    }
}

@media (min-width: 80rem) {
    article.article-news {
        max-height: 13rem;

        .news-article-text {
            width: 80%;

            flex-direction: column;
            align-items: normal;
            justify-content: normal;

            h1 {
                text-align: left;
            }

            h2 {
                display: block;
            }
        }

        .news-article-image {
            width: 30rem;
        }
    }
}