@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,400;0,700;0,800;0,900;1,300&display=swap');
@import url('admin.css');
@import url('editor.css');
@import url('homepage.css');
@import url('message.css');
@import url('news.css');
@import url('user.css');


:root {
    /* Global colors */
    --text: #1c1c1cff;

    --background: #f5f5f5;
    --section-background: #f5f5f5;

    --primary: #3159a9;
    --primary-hover: #3d81ff;

    --success: #2d7b00;
    --success-hover: #4ca21a;
    --danger: #9f0f42;
    --danger-hover: #df2465;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Albert Sans', sans-serif;
    color: var(--text);
}

body {
    background-color: var(--background);
}

main {
    max-width: 100vw;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div.container {
        max-width: 90vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/* Reseting elements / setting global styling */
a {
    text-decoration: none;
    color: var(--primary);
    transition: color 0.3s ease;

    &:hover, &:focus {
        color: var(--primary-hover);
        transition: color 0.3s ease;
    }
}

button, .btn {
    padding: .5rem 1rem;

    border: none;
    outline: none;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: bold;
    white-space: nowrap;

    transition: 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    background-color: var(--primary);
    color: white;

    &:hover, &:focus {
        color: white;
        background-color: var(--primary-hover);
        transition: 0.3s ease;
    }

    &.warning, &.danger {
        background-color: var(--danger);

        &:hover, &:focus {
            background-color: var(--danger-hover);
            transition: 0.3s ease;
        }
    }
}

input, textarea, select {
    padding: .5rem 1rem;

    border: none;
    border-radius: 1rem;
    outline: var(--text) 1px solid;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    transition: 0.3s ease;

    font-size: 1rem;
    font-weight: bold;

    background-color: var(--section-background);
    color: var(--text);

    &:hover, &:focus {
        outline: var(--primary-hover) 1px solid;
        transition: 0.3s ease;
    }

    &[type="file"] {
        max-height: 2.1rem;

        font-size: 1rem;
        font-weight: normal;

        &::file-selector-button {
            padding: 0 .5rem;
            border-radius: 1rem;
            background-color: var(--primary);
            border: none;
            outline: none;
            color: white;

            &:hover, &:focus {
                background-color: var(--primary-hover);
                transition: 0.3s ease;
            }
        }
    }

    &.regular {
        padding: .5rem;
        border-radius: 0;
        border-bottom: var(--text) 2px solid;
    }

    &[disabled], &[readonly] {
        outline: none;
        color: grey;
    }

    &.hidden {
        display: none;
    }
}

input:-webkit-autofill {
    background-color: var(--section-background) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--section-background) inset !important;
}


/* Form styling */
form {
    width: 20rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    button {
        padding: .5rem .75rem;
    }

    h1 {
        text-align: center;
    }

    .error-message, .success-message {
        text-align: center;
    }

    &.one-line-form {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



label {
    display: none;
}

label.visible {
    display: block !important;

    margin-bottom: -1rem;

    font-weight: bold;
    font-size: 1.2rem;
}

/* Messages & text styling */
.error-message {
    color: var(--danger);
}

.success-message {
    color: var(--success);
}

.incorrect {
    outline: var(--danger) 2px solid;
}

span.grayed-out {
    font-size: .8rem;

    color: #868686;
}


/* Parts of page */
section, article {
    padding: 1rem;

    border-radius: 1rem;
    background-color: var(--section-background);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}


/* Media queries - ... */
@media (min-width: 50rem) {
    main > div.container {
        max-width: 60vw;
    }
}
