# Enable RewriteEngine
RewriteEngine On

# Set base path
# For zwa.toad.cz
RewriteBase /~vanekeri

# Redirect all requests to index.php except for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
RewriteRule ^/articles/(.+)$ /articles?slug=$1 [L,QSA]






